{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block styles %}

    {{ block.super }}

    <style>
        .form-container {
            width: 80%;
        }

        .login-container {
            width: 30%;
            height: 30rem;
            padding-bottom: 3rem;
            padding-top: 3rem;
            border-radius: 5%;
        }

        .msg-container {
            width: 30%;
            text-align: center;
        }

        .msg {
            list-style-type: none;
        }

        .form-group {
            padding-top:1.5rem;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="container login-container shadow-lg mt-5">

        <h3 class="text-center ">Resident Portal Login</h3>
        {% if messages %}
        <div class="container msg-container">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-danger msg"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="container form-container">
            <form method="post">
                {% csrf_token %}

                {{ form | crispy }}
                <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-dark mt-4">Login</button>
            </div>
            </form>
        </div>

    </div>

{% endblock %}